version: "3.8"

secrets:
  account_address:
    file: ./configs/energi3_account_address
  account_password:
    file: ./configs/energi3_account_password

services:
  core:
    build: .
    image: energi-core:3.0.8-1.0.0
    ports:
      - 39797:39797/tcp
      - 39797:39797/udp
    restart: unless-stopped
    secrets:
      - account_address
      - account_password
    volumes:
      - core-data:/home/nrgstaker/.energicore3

volumes:
  core-data:
